.hero{
    height:90vh;

    background-image:url('/static/img/hero.jpg');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-overlay{

    background:rgba(0,0,0,.4);

    padding:50px;

    border-radius:15px;

    text-align:center;
}

.hero-overlay h1{

    color:white;

    font-size:60px;

    margin-bottom:20px;
}

.hero-overlay input,
.hero-overlay select{

    padding:15px;

    width:250px;

    border:none;

    border-radius:10px;
}

.hero-overlay button{

    padding:15px 30px;

    background:#00a0e3;

    border:none;

    color:white;

    border-radius:10px;
}